apiVersion: v1
kind: Secret
metadata:
  name: {{ k8s_app_name }}-secret
  namespace: {{ k8s_namespace }}
data:
  uri_mongo: bW9uZ29kYjovL2Y1c2Vjb25kczoxMjM0NTZhQUA0NS4xMTkuODAuMTAwOjI3MDE3Lz9hdXRoU291cmNlPWFkbWluJnJlYWRQcmVmZXJlbmNlPXByaW1hcnkmYXBwbmFtZT1Nb25nb0RCJTIwQ29tcGFzcyZkaXJlY3RDb25uZWN0aW9uPXRydWUmc3NsPWZhbHNlCg==
  PREFIX: dGVzdDE=